* {
	overflow-x: hidden;
	margin: 0;
}

.Header {
	font-family: Google Sans, Roboto, Arial, sans-serif;
	display: flex;
	height: 20vh;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
	background-size: cover;
}
